<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel='stylesheet' href='./assets/styles/normalize.css' />
    <link href="https://fonts.googleapis.com/css?family=Dosis&display=swap" rel="stylesheet">
    <title>Roundhouse</title>
    <script src="./index.js"></script>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>